/* General Footer Styles */
.footer {
  background: linear-gradient(to top, #002c75, #003f8b);
  /*Moderngradient*/color: #fff;
  height: fit-content;
  border-radius: 20px 20px 0 0;
  font-family: "cairo", sans-serif;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

/* Footer Container */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 10px;
}

/* Footer Section */
.footer-section {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.footer-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffd700; /* Gold for titles */
  margin-bottom: 20px;
  border-bottom: 2px solid #ffd700;
  display: inline-block;
}

/* Footer Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffd700;
}

/* Footer Center Section */
.footer-center {
  text-align: center;
}

.footer-logo {
  margin-top: 10px;
  max-width: 450px;
  max-height: 175px;
  margin-bottom: 0;
}

.footer-tagline {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffd700;
  margin: 0;
}

/* Social Media Links */
.social-links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #004fcf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-link:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 15px rgba(255, 215, 0, 0.6);
}

.social-icon {
  width: 60%;
}

/* Footer Bottom Section */
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-top: 1px solid #ffd700;
  text-align: center;
  font-size: 0.9rem;
}

.footer-text {
  margin: 0;
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-title {
    text-align: center;
  }
}
