/* General container for the login page */
.login-page-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "cairo", sans-serif;
  direction: rtl;
}

/* Main container for left and right sections */
.login-page {
  display: flex;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 8px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}



.attribution {
  font-family: "cairo", sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.attribution:hover {
  color: yellow;
}

.login-page-title {
  font-family: "cairo", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  color: #122557;
  display: flex;
  justify-content: center;
}

/* Left side: Welcome section with gradient background */
.left-side {
  flex: 1;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: 60% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.left-side-image {
  width: 80%;
  height: 70%;
  object-fit: cover;
}

@media (max-width: 1099px) {
  .left-side-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}

@media (max-width: 1210px) {
  .left-side-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
}

.left-side-container {
  border-radius: 0 10px 10px 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(233, 251, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.login-page-wrapper {
  background: linear-gradient(135deg, #020406, #0081ff); /* Blue gradient */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Right side: Login form area */
.right-side {
  padding: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  background: rgba(253, 253, 253, 0.1); /* Transparent background */
  backdrop-filter: blur(1px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
}

.login-form {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.floating-whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.floating-whatsapp-button:hover {
  background-color: #128c7e;
}


/* Login form container */
.login-form-container {
  width: 100%;
  max-width: 400px;
}

.login-title {
  font-family: "cairo", sans-serif;
  font-size: larger;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

/* Input container styles */
.input-containerr {
  margin-bottom: 2px;
}

.input-containerr label {
  font-family: "cairo", sans-serif;
  display: block;
  font-weight: bold;
  color: #ffffff;
}

.input-containerr input {
  width: 88%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input-containerr input:focus {
  outline: none;
  border-color: #4db5ff;
  box-shadow: 0 0 5px rgba(77, 181, 255, 0.5);
}

/* Password input container */
.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 95%;
  padding: 0.75rem;
  padding-right: 2.5rem; /* Space for the toggle button */
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.password-input:focus {
  outline: none;
  border-color: #4db5ff;
  box-shadow: 0 0 5px rgba(77, 181, 255, 0.5);
}

.toggle-password-buttonn {
  position: absolute;
  width: 40px;
  top: 20%;
  left: 7px; /* Position the button inside the input field */
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
  transition: color 0.3s ease;
}

.toggle-password-buttonn:hover {
  width: 40px;
  color: #4db5ff;
}

/* Error message styles */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Remember me and options */
.optionss {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.remember-me {
  font-family: "cairo", sans-serif;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #ffffff;
  gap: 0.5rem;
  cursor: pointer;
  margin-bottom: 0;
}

.remember-me input {
  margin: 0;
  accent-color: #052a45; /* Modern browsers support */
}

/* Login button */
.login-button {
  font-family: "cairo", sans-serif;
  font-size: 1rem;
  background: #052a45;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  background: #003f6c;
  transform: scale(1.02);
}

.login-button:active {
  transform: scale(0.98);
}

.login-button-container {
  display: flex;
  justify-content: center;
}
.leftt-side-image {
  display: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .leftt-side-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: block;
    width: 300px;
    height: auto;
  }
  .left-side {
    display: none; /* Hide left side on small screens */
  }

  .right-side {
    flex: 1;
    width: 100%;
    padding: 1.5rem;
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .login-page {
    margin-top: -100px;
    display: flex;
    width: 480px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 8px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .leftt-side-image {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    width: 200px;
    height: auto;
  }
  .left-side {
    display: none; /* Hide left side on small screens */
  }

  .right-side {
    flex: 2;
    width: 100%;
    padding: 1rem;
    flex: 1 1 90%;
  }
  .login-header {
    font-size: 1.2rem;
  }
}

@media (max-width: 380px) {
  .right-side {
    margin-top: 20px;
    flex: 2;
    width: 100%;
    padding: 1.5rem;
    flex: 1 1 90%;
    margin-bottom: 100px;
  }

  .footer {
    margin-top: 50px;
  }

  .login-page {
    margin-top: 20px;
    display: flex;
    width: 380px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 8px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}

.footer {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.9s forwards;
  -webkit-animation: fadeInUp 0.9s forwards;
}

.login-page {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.9s forwards;
  -webkit-animation: fadeInUp 0.9s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
